{% extends 'database/database.html' %}

{% block table %}
<table>
  <tr>
    <th>MatchID</th>
    <th>redName</th>
    <th>blueName</th>
    <th>winner</th>
    <th>redBets</th>
    <th>blueBets</th>
    <!-- <th>redMuChange</th>
    <th>blueMuChange</th>
    <th>redSigmaChange</th>
    <th>blueSigmaChange</th> -->
  </tr>

  {% for item in queryResults %}
  <tr>
    <td>{{item.matchid}}</td>
    <td>{{item.redname}}</td>
    <td>{{item.bluename}}</td>
    <td>{{item.winner}}</td>
    <td>{{item.redbets}}</td>
    <td>{{item.bluebets}}</td>
    <!-- <td>{{item.redmuchange}}</td>
    <td>{{item.bluemuchange}}</td>
    <td>{{item.redsigmachange}}</td>
    <td>{{item.bluesigmachange}}</td> -->
  </tr>
  {% endfor %}
</table>
{% endblock %}
