{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'botSite/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'botSite/bootstrap/css/bootstrap-theme.min.css' %}">
    <script type="text/javascript" src="{% static 'botSite/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'botSite/jquery/jquery-3.2.1.min.js' %}"></script>
    {% block head %}
    {% endblock %}
    </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
